:root {
  --color-accent-main: #1b294b;
  --color-font-light: mintcream;
  --color-font-dark: rgba(24, 24, 24);
}

body {
  background: var(--color-accent-main);
}

#logo {
  color: var(--color-font-light);
  font-family: consolas;
}
#logo img {
  height: 34px;
}

#top,
#left {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(5rem);
}

footer#footer {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(5rem);
  color: var(--color-font-dark);
}

.live-search {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2rem);
}

.live-search > div {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2rem);
  padding: 0.4rem 0.8rem;
}

#top input {
  background: rgba(255, 255, 255, 0.3);
  color: var(--color-font-light);
}

#top input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-font-light);
}

#top input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-font-light);
}

#top input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-font-light);
}

#left .btn {
  background: rgba(0, 0, 0, 0.1) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
}
#left .btn:hover,
#left .btn:focus {
  background: rgba(255, 255, 255, 0.3) !important;
}
#left .btn:active {
  background: rgba(255, 255, 255, 0.5) !important;
}

#top .btn {
  background: var(--color-accent-main);
  color: var(--color-font-main);
}
