body {
  background-repeat: round;
}

:root {
  --color-accent-main: #1b294b;
  --color-font-light: mintcream;
  --color-font-dark: dimgray;
}

#logo {
  color: var(--color-font-light);
  font-family: consolas;
}
#logo img {
  height: 34px;
}

#top, #left {
    background: rgba(255,255,255, 0.1);
    border-color: black!important;
    backdrop-filter: blur(5rem);
}

#top input {
  background: rgba(255, 255, 255, 0.3);
  color: var(--color-font-light);
}

#top input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-font-light);
}

#top input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--color-font-light);
}

#top input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--color-font-light);
}

#left .btn {
  background: white !important;
}
#left .btn:hover {
  background: mintcream !important;
}

#top .btn {
  background: var(--color-accent-main);
  color: var(--color-font-main);
}
